<launch>
  
  <!-- Taking the arguments  -->
 
  <!-- Running usb_cam node -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" /><!-- change 0 to the corresponding detected video -->
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="30" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

      <group ns="usb_cam">
    <node pkg="image_proc" type="image_proc" name="image_proc"/><!-- Running image_proc node -->
  </group>

 

</launch>
